@use "../../styles/variables" as vars;

.slider__values {
  display: flex;
  justify-content: space-between;
  color: vars.$color-light;

  &_type {
    &_vertical {
      flex-direction: column;
    }
  }
}
