@use "../../styles/variables" as *;

.slider__values {
  display: flex;
  justify-content: space-between;
  color: $color-light;

  &_type {
    &_vertical {
      flex-direction: column;
    }
  }
}
