@use "../../styles/variables" as vars;

.slider-complex {
  display: flex;
  border: 1px solid vars.$color-light;
  gap: 50px;
  padding: 50px 10px;

  @media (width <= 930px) {
    flex-direction: column;
  }

  &__slider {
    flex-basis: 50%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__label {
    cursor: pointer;
  }
}
