mixin slider-complex({sliderClass})
  -
    const classes = [
      'slider-complex',
      'js-slider-complex',
      sliderClass
    ]
  section(class=[...classes])
        article.slider-complex__slider.js-slider-complex__slider
        article.slider-complex__panel.js-slider-complex__panel
          form.slider-complex__form.form
            fieldset.form__block
              legend.form__legend Тип: 
                label.form__label
                  input.form__input(type='radio' name='type', value='single')
                  |       Одинарный
                label.form__label
                  input.form__input(type='radio' name='type', value='double')
                  |       Двойной
            fieldset.form__block
              legend.form__legend Ориентация: 
                label.form__label
                  input.form__input(type='radio' name='orientation', value='horizontal')
                  |       Горизонтальный
                label.form__label
                  input.form__input(type='radio' name='orientation', value='vertical' )
                  |       Вертикальный
            fieldset.form__block
              legend.form__legend Мин. значение слайдера: 
                label.form__label
                  input.form__input.form__controlMinValue.js-form__controlMinValue
            fieldset.form__block
              legend.form__legend Макс. значение слайдера: 
                label.form__label
                  input.form__input.form__controlMaxValue.js-form__controlMaxValue
            fieldset.form__block
              legend.form__legend Мин. положение ползунка: 
                label.form__label
                  input.form__input.form__controlMinThumb.js-form__controlMinThumb
            fieldset.form__block
              legend.form__legend Макс. положение ползунка: 
                label.form__label
                  input.form__input.form__controlMaxThumb.js-form__controlMaxThumb
            fieldset.form__block
              legend.form__legend Шаг: 
                label.form__label
                  input.form__input.form__controlStep.js-form__controlStep
            fieldset.form__block
              legend.form__legend Флажки: 
                label.form__label
                  input.form__input(type='checkbox' name='showValueFlag')
                  |       Показать
            fieldset.form__block
              legend.form__legend Линейка: 
                label.form__label
                  input.form__input(type='checkbox' name='showRuler')
                  |       Показать
      
