@use "../../styles/variables" as vars;

.slider__line {
  position: relative;
  height: 15px;
  border: 1px solid vars.$color-gray;

  &_type {
    &_vertical {
      height: 100%;
      width: 15px;
    }
  }
}
