@use "../../styles/variables" as *;

.slider__line {
  position: relative;
  height: 15px;
  border: 1px solid $color-gray;

  &_type {
    &_vertical {
      height: 100%;
      width: 15px;
    }
    &_horizontal {
      width: 100%;
    }
  }
}
