@use "_variables" as *;

@use "_reset";
@use "../components/slider-complex/slider-complex";

.page {
  background-color: $color-bg;
  min-height: 100vh;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: $color-light;

  &__body {
    min-width: 360px;
    min-height: 100%;
    position: relative;
  }

  &__container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: $z-index-container;
  }
}
