@use "_variables" as vars;
@use "../components/slider-complex/slider-complex";

.page {
  background-color: vars.$color-bg;
  min-height: 100vh;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: vars.$color-light;

  &__body {
    margin: 0;
    min-width: 360px;
    min-height: 100%;
    position: relative;
  }

  &__container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: vars.$z-index-container;
  }

  &__gradient {
    position: absolute;
    background: vars.$bg-gradient;
    background-size: 400%;
    inset: 0;
    z-index: vars.$z-index-base;
    animation-name: gradient;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes gradient {
  // 0% {
  //   background-position: 0 0;
  // }
  // 50% {
  //   background-position: 20% 100%;
  // }
  // 100% {
  //   background-position: 80% 0;
  // }
}
