@use "../../styles/variables" as *;

.slider__progressbar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-white;
  height: 100%;

  &_type {
    &_vertical {
      width: 100%;
    }
  }
}
