.slider {
  min-width: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  touch-action: pan-y;

  &_type {
    &_vertical {
      max-height: 100%;
      flex-direction: row;
    }
  }
}
