include ./components/slider-complex/slider-complex.pug

doctype html
html.page(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="slider, expample")
    meta(name="description" content="Examples of using the alexandr slider")
    link(rel="stylesheet" href=".")
    title Show Slider
  body.page__body
    .page__container
      h1 examples page
      +slider-complex({sliderClass: 'slider1'})
      +slider-complex({sliderClass: 'slider2'})
      +slider-complex({sliderClass: 'slider3'})
      +slider-complex({sliderClass: 'slider4'})
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer")
</html>
