@use './components/slider-complex/slider-complex';

:root {
    --color-bg: rgb(39, 38, 43);
    --color-light: rgb(255, 255, 255);
}

.page {
    background-color: var(--color-bg);
    min-height: 100vh;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: var(--color-light);

    &__body {
        margin: 0;
        min-width: 360px;
        min-height: 100%;
    }

    &__container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    } 
}