@use './components/slider-complex/slider-complex';

html {
    background-color: #27262b;
    min-height: 100vh;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
} 