body {
  background-color: #dcdcdc;
}

.alexandr__line {
  background-color: #6a6a6a;
}

.alexandr__progressbar {
  background: linear-gradient(
    90deg,
    rgb(131 58 180 / 100%) 0%,
    rgb(253 29 29 / 100%) 50%,
    rgb(252 176 69 / 100%) 100%
  );
}

.alexandr__thumb {
  width: 40px;
  height: 40px;
  background-color: #2c0529;

  &:hover {
    background-color: #3c0938;
  }
}

.alexandr__values {
  color: rgb(69 38 0);
}

.inputs {
  color: rgb(69 38 0);
}
